/*
 * Fonts
 */

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v8/yJQgrSMUoqRj-0SbnQsv4g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Shade'), local('BungeeShade-Regular'), url(https://fonts.gstatic.com/s/bungeeshade/v2/HSW7pxPYXBWkq7OSnuXoeOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 *  Reset + Box-sizing
 */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * RESET FONT - SET 1 REM = 10 PX
 */

html {
  font-size: 62.5%; 
}

body {
  font-family: "Bangers", cursive;
  font-size: 1.6rem;
}

/*
 * CONTAINER LIMIT
 */

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

/*
 * MAIN-HEADER AND CHILDRENS
 */

.main-header {
  background-color: #2c3e50;
}

.logo-slogan {
  text-align: center;
}

.logo,
.slogan {
  display: block;
  margin: 0;
  padding: 0;
  color: #eee;
}

.logo {
  font: 5.5rem 'Bungee Shade', cursive;
  text-decoration: none;
}

.main-nav {
  margin: 2rem 0;
  padding: .5rem 0;
  text-align: center;
  font-size: 2.5rem;
  border-top: .5rem solid #eee;
  border-bottom: .5rem solid #eee;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  position: relative;
  color: #ccc;
  text-decoration: none;
  transition: .2s ease-in-out;
}

.nav-link:before {
  position: absolute;
  top: 100%;
  display: block;
  content: "";
  width: 0%;
  height: .2rem;
  transition: .2s ease-in-out;
  background-color: #afe;
}

.nav-link:not(last-child) {
  margin-right: 2rem;
}

.nav-link:hover {
  color: #fff;
  transition: .2s ease-in;
}

.nav-link:hover:before {
  width: 100%;
  transition: .25s ease-in;
} 

/*
 * PRODUCTS AND CHILDRENS
 */

.products {
  text-align: center;
}

.product {
  position: relative;
  margin: 2rem 0;
  display: inline-block;
  width: 30rem;
}

.product-thumbnail {
  opacity: .8;
  transition: .2s ease-in-out;
}

.product:hover .product-thumbnail,
.product:hover .product-description {
  opacity: 1;
  transition: .2s ease-in;
}

.price {
  display: block;
}

.price:before {
  content: "Por R$: ";
}

.product-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  color: #2c3e50;
  opacity: 0;
  font-size: 9rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: .3rem solid #2c3e50;
  border-radius: 50%;
}

.modal .btn-close {
  color: #aaa;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 5px;
  text-decoration: none;
}

.modal .btn-close:hover,
.modal .btn-close:focus {
  color: #999
}

.modal-wrap:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 102
}

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
  display: block
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 40%
}

.modal-dialog {
  background: #fefefe;
  border: #555 solid 1px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -150%);
  transition: transform .6s ease-in-out;
  width: 80%;
  max-width: 600px;
  z-index: 103
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  margin: 0
}

.modal-header,
.modal-footer {
  padding: 20px 20px
}

.modal-header {
  border-bottom: #eaeaea solid 1px;
}

.modal-header h2 {
  font-size: 2rem;
  margin: 0
}

.modal-footer {
  border-top: #eaeaea solid 1px;
  text-align: right
}